body{
	background: #ebeef0;
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width: 100%;
}
.merah{
	color: red;
}
.pointer{
	cursor: pointer;
}
.disabled{
	pointer-events: none !important;
}
.image-upload{
	height: 130px;
	width: 130px;
	object-fit: cover;
}
.search-app-angkot,.search-app-angkot:focus{
    padding: 24px;
    border-radius: 90px;
    border: 1px solid #4c8dc5;
    outline: none;
    box-shadow: none;
}
.btn-app-angkot{
    padding: 14px;
    border: 1px solid #2f3e4c;
    width: 100px;
}
.search-app, .search-app::placeholder{
	height: 5rem;
	border: none;
	font-size: 18px;
	color: #717171;
	text-align: center;
}
.btn-search{
	height: 5rem;
	background: #28d055;
	color: white !important;
	line-height: 36px;
}
.btn-upload{
	position: absolute;
	top: 51px;
	left: 10px;
	background: white;
	font-weight: 550;
	color: #545454;
	opacity: 0;
}
.btn-app-icon-1{
	background: #03a76b;
	color: white;
	padding: 2px 7px;
}
.btn-app-icon-2{
	background: #de4a4a;
	color: white;
	padding: 2px 7px;
}
.btn-app-icon-3{
	background: #0f1e2c;
	color: white;
	padding: 2px 7px;
}
.image-view{
	border-radius: 50%;
	height: 150px;
	width: 150px;
	object-fit: cover;
}
.image-view-upload:hover .btn-upload{
	opacity: 1;
	transition: all 0.2s;
}
.image-view-upload:hover .image-upload{
	filter: brightness(50%);
	transition: all 0.2s;
}
.navbar-app{
	border: none !important;
	border-radius: 0 !important;
	color: #0f1e2c;
	background: transparent;
	position: absolute;
	width: 100%;
	font-size: 20px;
	font-family: 'Fjalla One', sans-serif;
	padding: 10px 20px;
}
.navbar-app a{
	color: #0f1e2c;
}
.navbar-brand{
	font-size: 20px;
	color: #0f1e2c;
}
.navbar-app .nav>li>a
.navbar-app a{
	padding: 15px 7px 7px 7px;
	margin: 0px 3px;
}
.navbar-app .nav>li>a:focus, .navbar-app .nav>li>a:hover
.navbar-app a:focus, .navbar-app a:hover,
.navbar-app .nav>li.active
{
	background-color: transparent !important;
	border-bottom: 2px solid #0f1e2c;
	transition: opacity 0.2s;
}
.menu-user li a:hover{
	background: none !important;
	border: none !important;
}
.side-collapse{
	height: 100vh !important;
}
.btn-app{
	background: #0f1e2c;
	color: white !important;
	border-radius: 22px;
}
.btn-app:hover{
	background: #2f3e4c;
}
.back-drop{
	background: rgba(0, 0, 0, 0.2);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}
.col-home{
	width: 70%;
	min-height: 94vh;
	overflow: hidden;
	padding-top: 7rem;
}
.col-app-user{
	width: 95%;
	padding-top: 7rem;
	min-height: 89vh;
}
.col-login{
	width: 90%;
	margin: 0 auto;
	margin-top: 10vh;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.col-dash-mitra{
	height: 13rem;
	box-shadow: 3px 4px 5px 3px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: #fdfdfd;
}
.col-item-search{
	background: #4c8dc5;
    color: white;
}
.ellipsis-2{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.ellipsis-3{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.ellipsis-5{
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}
/*
======================================
MITRA
======================================
*/
.bg-mitra{
	background: #168a60 !important;
}
.color-mitra{
	color: #168a60 !important;
}
.sidebar-mitra{
	background: #168a60 !important;
}
.sidebar-mitra ul li.active > a, .sidebar-mitra a[aria-expanded="true"]{
    background: #096342 !important;
}
.sidebar-mitra ul ul a{
    background: #1a7b58 !important;
}

.bg-form-angkot{
	background: #4c8dc5;
	border: 2px solid #4c8dc5; 
	color: white;
	min-height: 210px;
}
.bg-form-angkot:hover{
	border: 2px solid #4c8dc5; 
	background: white;
	color: black;
}
.bg-form-angkot span{
		overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}
.form-login{
	background: #04bbd1;
	padding: 151px 10px;
}
.form-error,.form-error:focus{
	outline: none;
	border: 1px solid red;
}
.detail-maps{
	position: absolute;
	bottom: 16px;
	right: 9px;
}
.detail-maps a{
	color: white;
	border: 1px solid white;
	padding: 6px;
	border-radius: 10px;
}
.easy-autocomplete{
	width: 100% !important;
}
thead tr th, tbody tr td{
	text-align: center;
}
/*
===========================================
    MAPS
===========================================
*/
#map {
	height: 100%;
	min-width: 75%;
	max-width: 75%;
}



@media screen and (min-width: 769px) {
	.hidden-sm-up{
		display: none !important;
	}
	.btn-daftar-mitra{
		background: #0f1e2c;
		border: 2px solid #0f1e2c;
		color: white!important;
		border-radius: 7px;
	}
	a.btn-daftar-mitra{
		padding: 9px 8px !important;
		font-size: 16px;
	}
	.btn-daftar-mitra:hover{
		border: 2px solid #0f1e2c;
		color: #0f1e2c !important;
		border-bottom: none;
		transition: all 0.2s;
	}
}
@media screen and (max-width: 768px) {
	.side-collapse{
		position: absolute;
		width: 40vh;
		background: white;
		left: -300px;
		top: -1px;
		display: block;
		transition: all 0.2s ease-in-out;
		margin-left: -1px !important;
		z-index: 2;
	}
	.side-collapse.on{
		left: 0;
		transition: all 0.2s ease-in-out;
	}
	.navbar-app{
		padding: 0px;
	}
	.navbar-app a{
		color: #34495e;
	}
	.navbar-brand{
		padding-left: 0px;
	}
	.col-home{
		width: 90%;
		padding-top: 5rem;
	}
	.btn-search{
		width: 100%;
	}
	.form-login{
		padding: 45px 10px;
	}
	.col-login{
		margin-top: 6vh;
	}
	.col-app-user{
		padding-top: 3rem;
	}
	#map {
		min-width: 100%;
		max-width: 100%;
	}
	.hidden-sm-down{
		display: none !important;
	}
}